.tab-selected {

  ion-icon,
  ion-label {
    color: #e80000 !important;
  }
}

ion-tab-bar,
ion-tab-button {
  background-color: #eaeaea;

  ion-icon,
  ion-label {
    color: #737373
  }

  ion-badge {
    background-color: #e80000 !important;
  }
}
