<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button tab="home" layout="icon-top">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" layout="icon-top">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-label>cart</ion-label>
      <ion-icon name="bag-outline"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-label>Account</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
