<!-- <ion-toolbar>

  <ion-tab-button slot="start" tab='home'>
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button slot="start" tab='search'>
    <ion-icon name="search"></ion-icon>
    <ion-label>Search</ion-label>
  </ion-tab-button>
  <ion-tab-button slot="start">
    <ion-icon name="bag-outline"></ion-icon>
    <ion-label>Cart</ion-label>
    <ion-badge>6</ion-badge>
  </ion-tab-button>
  <ion-tab-button slot="start">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Account</ion-label>
  </ion-tab-button>
</ion-toolbar> -->
<!-- <ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-label>Home</ion-label>
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="login">
    <ion-label>Search</ion-label>
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="cart">
    <ion-label>cart</ion-label>
    <ion-icon name="bag-outline"></ion-icon>
    <ion-badge>6</ion-badge>
  </ion-tab-button>
  <ion-tab-button tab="cart">
    <ion-label>Account</ion-label>
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
