ion-toolbar {
  --color: #737373;
  --background: #dee2e6;
}



ion-icon {
  color: #737373 !important;
}

ion-tab-button {
  ion-icon {}

  ion-label {
    text-transform: uppercase;
  }
}

ion-menu {
  --height: calc(100% - 51px);

  .menu-type-overlay {
    z-index: 0 !important
  }
}
