<ion-header>
  <ion-toolbar>
    <ion-title>Darzii</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  Home
</ion-content>
