:host {
  border: none !important;
  --border-style: none !important;
}

.button,
.button-black {
  border-radius: 5px;
  background: #e80000;
  min-width: 100%;
  padding: 5px;
  color: #fff;
}

.account-login {
  --background: #f3f3f3 !important;
  --border-style: none !important;

  ion-toolbar {
    --background: #f3f3f3 !important;
  }
}

ion-list {
  ion-item {
    margin: 0;

    ion-label {
      font-size: 12px;
    }
  }
}
