<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item class='account-login'>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
    </ion-avatar>
    <ion-label>
      <ion-toolbar>
        <ion-buttons>
          <button class="button button-block" ion-button start>Login/Join</button>
        </ion-buttons>
      </ion-toolbar>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Customer Support</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Order History</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Terms & Conditions</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
